.mainCon{
  display: flex;
  background: #054b32;
  color: white;
  padding: 16px 13px;
  margin: 14px 0 10px 0;
  border-radius: 4px;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  cursor: pointer;
}
.mainCon img{
  width: 11px;
  height: 14px;
  padding: 6px 10px;
}
.mainCon span{
    padding: 2px;
}
.dirctionRTL{
  direction: rtl;
}
