.headerCon{
  position: fixed;
  width: 100%;
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 10%);
  transition: 0.3s;
}
.dirctionRTL{
  direction: rtl;
}
.headerTopCon{
  width: 100%;
  transition: 0.3s;
  height: 60px;
  background: rgb(242, 244, 245);
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}
.headerTopConMob{
  height: 120px;
  display: inherit;
  background: white;
}

.headerTopSlide{
  height: 0;
}
.headerBottomCon{
  width: 96%;
  height: 80px;
  background: white;
  display: flex;
  justify-content: space-between;
  padding: 0 2%;
}
.headerBottomConMob{
  justify-content: space-around;
}
.headerTopLeft{
  display: flex;
  padding: 7px;
  width: 500px;
  justify-content: space-around;
}
.topLeftLinks{
  padding: 11px 0;
  cursor: pointer;
}
.seperator{
  background: black;
  width: 1px;
  margin: 8px 0;
}
.topLeftLinks:hover{
  text-decoration: underline;
}

.topLeftImg{
  width: 200px;
  height: 48px;
}
.headerTopRight{
  display: flex;
  padding: 10px 30px;
  text-align: left;
}
.textAlignRight{
  text-align: right;
}
.deliverCon{
  display: flex;
}
.deliverTo{
  font-weight: bold;
}
.LangToggleCon{
    padding: 11px;
}
.LangToggleCon img{
  width: 27px;
  cursor: pointer;
  border-radius: 5px;
}
.locationImg{
  width: 34px;
  height: 34px;
  padding: 4px;
}
.signInCartCon{
  display: flex;
}
.logSignIn{
  cursor: pointer;
  padding: 28px 3px;
}
.cartCon{
  padding: 12px 21px;
  margin: 11px;
  border: 1px solid rgb(5, 75, 50);
  border-radius: 21px;
  width: 79px;
  color: rgb(5, 75, 50);
  display: flex;
  justify-content: space-evenly;
  position: relative;
  font-size: 22px;
  cursor: pointer;
}
.cartCon img{
  width: 23px;
}
.cartCounter{
  position: absolute;
  left: -10px;
  top: -10px;
  width: 20px;
  height: 20px;
  background: rgb(255, 100, 100);
  color: white;
  border-radius: 50%;
  font-size: 14px;
}
.searchCon{
  padding: 13px 0;
  display: flex;
  min-width: 50%;
  height: 58px;
  position: relative;
}
.searchConMob{
  min-width: 90%;
  transition: 1s;
}
.searchCon input{
  width: -webkit-fill-available;
  font-size: 20px;
  padding: 0 10px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;

}
.searchCon input:hover{
  outline: none;
}
.searchCon input:focus{
  border: 3px solid #054b32;
  outline: none;
}
.searchCon img{
  width: 25px;
  padding: 15px 12px;
  background: #054b32;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  cursor: pointer;
}
.searchConLTR input{
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
.searchConLTR img{
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.backDrop{
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: #00000080;
}
.WebListDisplayCon{
  overflow: auto;
  position: absolute;
  direction:ltr;
 overflow-x: hidden;
}
.headerTopMobSection_A_Con{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 39px;
  background: rgb(242, 244, 245);
}
.headerTopMobSection_A_Con img{
  padding: 10px;
}
.headerTopMobSection_A_Con div{
  padding: 10px;
}
.headerTopMobSection_B_Con{
  display: flex;
  justify-content: space-between;
  padding: 14px;
}
.headerTopMobSection_B_Conimg{
  width: 163px;
  height: 48px;
}
.cancleBtn{
  padding: 30px 10px;
    cursor: pointer;
}
.displayItemsMobCon{
  position: absolute;
  overflow: auto;
  width: 100%;
  background: white;
}
