.main{
  background: white;
  height: 104px;
  border-bottom: 1px solid black;
  padding: 4px;
  display: flex;
  justify-content: space-between;
  direction: ltr;
}
.pic img{
  width: 125px;
  height: 100px;
}
.info{
  text-align: right;
  width: 100%;
  padding: 8px;
}
.brandAndName{
  height: 20px;
  overflow: hidden;
}
.unit{
    min-height: 20px;
}
.priceAndBtnCon{
  display: flex;
  justify-content: space-between;
}
.btnBuy{
  border: 1px solid black;
  width: 175px;
  height: 20px;
  padding: 10px;
  border-radius: 5px;
  background: #054b32;
  color: white;
  text-align: center;
  cursor: pointer;
}
.prices{
  display: flex;
  flex-direction: column;
}
.prices div{
  height: 20px;
}
.btnCounter{
  width: 175px;
  height: 40px;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  border-radius: 7px;
}
.changeBtn{
  font-size: 30px;
  width: 45px;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
}
.Counter{
  padding: 9px 0 0 0;
  font-size: 19px;
}
