.mainCon{
  font-family: Lexend, Roboto, sans-serif;
    /* font-weight: 400; */
    line-height: 1.43;
  height: 2000px;

}
::-webkit-scrollbar{
  width: 3px;
  height: 3px;
}
::-webkit-scrollbar-thumb{
  background: #B3AFB3;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover{
  background: #B3AFB3;
}
::-webkit-scrollbar-track{
  background: #F0F0F0;
  border-radius: 0px;
  box-shadow: inset 0px 0px 0px 0px #F0F0F0;
}
.stripImg{
  width: 100%;
  margin: 140px -3px -4px 0;
}
.underPngText{
  color: #454f5b;
  font-size: 22px;
  min-height: 64px;
  text-align: center;
  line-height: 2;
  background-color: #dfe3e8;
  font-weight: 500;
}
.underPngTextMob{
  padding: 0 20px;
  font-size: 16px;
}
